@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

body{
    background-color: var(--color-yellow-100);
    color: var(--color-violet-500);
}

:root {
    --color-chestnut-500: #7b3f00;
    --font-Sans: 'Inter', sans-serif;
    --font-mono: 'Courier New', monospace;
}
@layer base{
    h3{
        @apply text-2xl font-bold text-pink-500;
    }
}
@layer components {
    .card {
        @apply m-10 rounded-lg bg-white px-6 py-8 shadow-2xl ring-1 ring-slate-900/5 dark:bg-black;
    }
}

@utility flex-center{
    @apply flex items-center justify-center;
}

/* Your custom CSS below */